<div class="container">
  
    <div class="product-container main-product-container">
      
      <div class="product-left-container">
        <img src={{data.image}} alt=""/>
      </div>
      
      <div class="product-col-container">
        <h1 class="product-page">{{data.title}}</h1>
        <p>
          <b>Quick overview</b><br/>
          {{data.description}}
        </p>
        
        <p class="product-price">
          <b>Price:$</b> 
          <span class="price">{{data.price}}</span>
        </p>
        <p>
        </p>
        
        <p>
          [social sharing]
        </p>
        
      </div>
      
    </div>
    <br clear="all"/>
    <div class="product-container">
      
      <div class="product-left-container">
        <h2 class="product-page">Detaljer</h2>
        <p class="product-body">
          Mini høyttaler med meget godt lyd for PC/mobil/smart med innbygd FM-radio. Perfekt at ha med på hytten, tur, i teltet, parken eller bare på uteplassen. Høyttaleren kan brukes sammen med alle enheter som har mini-jack utgang (3,5 mm) så som Smartphone, PC, Nettbrett, etc. X-mini Rave har et innebygd oppladbart batteri med en kapasitet på opptil 6 timer når batteriet et fulladet. Høyttaleren lades med den medfølgende USB-kabelen. ?BuddyJack? for sammenkobling av flere høyttalere. X-Mini har tidligere vunnet de prestisjefylte prisene Red Dot Design
        </p>
      </div>
      
      <div class="product-col-container">
        Col
      </div>
      
    </div>

    <br clear="all"/>
  </div>