


<div class="box"> 
  <div class="container">
    <div class="row">

      @for (item of data;track $index){
        <div class="col-3 p-3">
          <div class="card" routerLink="{{item.id}}" style="width: 18rem;">
            <img src="{{item.image}}" class="card-img-top" alt="..." style="height: 300px;">
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
               <p class="card-text">{{item.rating.rate}}&#9733;<span>&nbsp;{{item.rating.count}}&nbsp;ratings</span></p> 
              <p class="card-text">{{item.description |slice :0:150}}</p>



              <a class="btn btn-primary">${{item.price}}</a>
            </div>
        </div>
      </div>
    }
    </div>
  </div>
</div>
<app-footer></app-footer>  